# Vosk Model Configuration
VOSK_MODEL_PATH=./model/model

# Server Configuration
PODCAST_TRANSCRIBER_HOST=0.0.0.0
PODCAST_TRANSCRIBER_PORT=50052
PODCAST_TRANSCRIBER_MAX_WORKERS=4

# Logging Configuration
PODCAST_TRANSCRIBER_LOG_LEVEL=INFO
